.header_wrap {
    display: flex;

    background: rgb(61, 131, 127);

}

.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    min-width: 90%;
    max-width: 1280px;



    .header_brand {
        a {
            color: rgb(252, 236, 244);
            font-weight: 500;
            letter-spacing: 0.05em;
            text-decoration: none;

        }
    }

    .header_navlink {
        display: flex;
        align-items: center;
        margin-right: 20px;

        list-style: none;

        a {
            margin-right: 10px;
            color: rgb(252, 236, 244);
            font-size: 1.4em;
            text-decoration: none;
            font-style: oblique;
        }

        .nav_active {
            color: rgb(241, 187, 216);
            border-bottom: 2px solid rgb(241, 187, 216);
            padding-bottom: 0.05em;
          
            

        }
    }
}